*{
  padding:0;
  margin:0;

}

.member{
  padding-top:20px;
}

.seventeen{
  display:flex;
  flex-wrap: wrap;
}

.eightteen{
  display:flex;
  flex-wrap: wrap;
}

.character{
  display:flex;
  flex-wrap: wrap;
}

.person{
  width:25%;
  text-align:center;
  padding:30px 0;
}

.person img{
  width:80%;
  height:auto;
  border-radius :50%;
}

.seventeenn h2{
  padding-top:20px;
  text-align:center;
  font-size:30px;
}

.eightteenn h2{
  padding-top:20px;
  text-align:center;
  font-size:30px;
}

.characterer h2{
  padding-top:20px;
  text-align:center;
  font-size:30px;
}


